* {
    /* margin: 0px; */
    /* padding: 0px; */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0 auto;
}

.main-header {
    background-color: black;
    padding: 20px;
    top: 0;
    z-index: 100;
    width: 100%;
    color: white;
}


.container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }



.logo {
    width: 150px;
    /* animation: aumentar 1s ease-in-out 2 alternate; */
}


/* @keyframes aumentar {
    from{ 
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
} */



.copy-header {
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    font-size: 17px;
}


div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;

}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: block;
    margin-top: 20px;
}

section.banner img {
    width: 100%;

}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}


main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}






































/* MOBILE */
@media (min-width: 361px) {
    .fa-solid {
        color: whitesmoke;
        padding: 10px 0px;
    }

    header div img {
        width: 50%;
    }

    /* HEADER */
    body nav.navigation {
        display: flex;
    }


    .form {
        border: rgb(132, 0, 255);
        border-style: dashed;
        border-radius: 2px;
        border-width: 2px;

    }

    .compra {
        border: rgb(255, 0, 149);
        border-style: dashed;
        border-radius: 2px;
        border-width: 2px;

    }




    /* NAVIGATION */

    body nav ul.navleft {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

    }

    body nav ul.navleft li {
        padding: 15px 15px;
    }

    body nav ul.navright {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    body nav ul.navright li {

        padding: 15px 15px;
    }




    div.burger-menu {
        display: none;
    }




    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }



    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }

    .price,
    .discount {
        width: 50%;
    }
}




footer {
    background-color: rgb(64, 56, 56);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 4em;
    padding-right: 4em;
    color: white;

}

.iconos {
    width: 2em;
    margin-bottom: 10px;
}


.search {
    display: flex;
    height: 30px;
    margin-top: 30px;
    justify-content: center;
}



/* BURGUER */

.hamburguer-button {
    background-color: #03264c;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

/* FIN BURGUER */




















/* TABLET */

@media (min-width: 768px) {

    header div {
        flex-wrap: inherit;
    }

    .navbar {
        display: none;
    }



    main section article .description {
        display: block;
        opacity: 0;
    }

    .main-header-top-bar {
        justify-content: space-between;
        flex-direction: initial;
    }

    .copy-header {
        max-width: fit-content;
        text-align: center;
        width: 33%;
    }

    .hamburguer-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 1px;
    }

    main section div.products article {
        width: 23%;
    }

    main section article:hover .description {
        opacity: 1;
        transition: 300ms;
    }



    main section article:hover .fas {
        transform: rotate(-90deg);
        transition: 300ms;
    }

    main section article {
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
    }


    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

        transition: 300ms;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* footer div {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    } */

    .iconos {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .card1 {
        width: 30%;
    }

    .card2 {
        width: 30%;
    }

    .card3 {
        width: 30%;
    }

    .card4 {
        width: 100%;
        display: flex;
        padding-top: 10px;
    }
}












/* DESKTOP */
@media (min-width: 1200px) {

    .copy-header {
        text-align: center;
        width: 50%;
    }



}



.category_item:hover{
    opacity: 0.8;
}


/* body{
	background: #E0E4E5;
	font-family: 'Open Sans', sans-serif;
} */

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	/* color: #494B4D; */
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	/* background: #C7C7C7; */
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #FF1617;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/



.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #000000;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}