* {
    /* margin: 0px; */
    /* padding: 0px; */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0 auto;
}

.main-header {
    background-color: black;
    padding: 20px;
    top: 0;
    z-index: 100;
    width: 100%;
    color: white;
}






.logo {
    width: 200px;
    /* animation: aumentar 1s ease-in-out 2 alternate; */
}


/* @keyframes aumentar {
    from{ 
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
} */



.copy-header {
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px;
    font-size: 17px;
}


div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;

}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: block;
    margin-top: 20px;
}

section.banner img {
    width: 100%;

}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}


main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}






































/* MOBILE */
@media (min-width: 361px) {
    .fa-solid {
        color: blue;
        padding: 10px 0px;
    }

    header div img {
        width: 50%;
    }

    /* HEADER */
    body nav.navigation {
        display: flex;
    }


    .form {
        border: rgb(132, 0, 255);
        border-style: dashed;
        border-radius: 2px;
        border-width: 2px;

    }

    .compra {
        border: rgb(255, 0, 149);
        border-style: dashed;
        border-radius: 2px;
        border-width: 2px;

    }




    /* NAVIGATION */

    body nav ul.navleft {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

    }

    body nav ul.navleft li {
        padding: 15px 15px;
    }

    body nav ul.navright {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    body nav ul.navright li {

        padding: 15px 15px;
    }




    div.burger-menu {
        display: none;
    }




    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }



    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }

    .price,
    .discount {
        width: 50%;
    }
}




footer {
    background-color: rgb(64, 56, 56);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 4em;
    padding-right: 4em;
    color: white;

}

.iconos {
    width: 2em;
    margin-bottom: 10px;
}


.search {
    display: flex;
    height: 30px;
    margin-top: 30px;
    justify-content: center;
}



/* BURGUER */

.hamburguer-button {
    background-color: #03264c;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

/* FIN BURGUER */




















/* TABLET */

@media (min-width: 768px) {

    header div {
        flex-wrap: inherit;
    }

    .navbar {
        display: none;
    }

    .main-header {

        position: sticky;
    }

    main section article .description {
        display: block;
        opacity: 0;
    }

    .main-header-top-bar {
        justify-content: space-between;
        flex-direction: initial;
    }

    .copy-header {
        max-width: fit-content;
        text-align: center;
        width: 33%;
    }

    .hamburguer-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 1px;
    }

    main section div.products article {
        width: 23%;
    }

    main section article:hover .description {
        opacity: 1;
        transition: 300ms;
    }



    main section article:hover .fas {
        transform: rotate(-90deg);
        transition: 300ms;
    }

    main section article {
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
    }


    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

        transition: 300ms;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer div {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .iconos {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .card1 {
        width: 30%;
    }

    .card2 {
        width: 30%;
    }

    .card3 {
        width: 30%;
    }

    .card4 {
        width: 100%;
        display: flex;
        padding-top: 10px;
    }
}












/* DESKTOP */
@media (min-width: 1200px) {

    .copy-header {
        text-align: center;
        width: 50%;
    }



}