* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0 auto;
}


.product-detail {
  display: flex;
  padding: 20px;
}

.product-detail .product-photos {
  width: 50%;
  padding: 3%;
}

.product-detail .product-photos .primary-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.product-detail .product-photos .primary-photo img {
  width: 80%;
  border-radius: 10px;
  height: 400px;
  border: solid rgb(196, 190, 190) 1px;
}

.product-detail .product-photos .secondary-photos {
  display: flex;
  height: 110px;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-evenly;
}
.product-detail .product-photos .secondary-photos .thumbnail {
  margin: 3px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.product-detail .product-photos .secondary-photos .thumbnail .photo {
  border: solid rgb(196, 190, 190) 1px;
  border-radius: 10px;
}

.product-detail .product-photos .secondary-photos img {
  width: 100px;
}
.product-detail .product-info {
  width: 50%;
}


.description {
justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
    margin-top: 20px;
    }

.price {
    font-size: 18px;
    width: 30%;
    color: rgb(68, 128, 0);

}
.parrafo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  color: #333;

}


a:hover {
  background-color: black;
}
.discount {
    width: 70%;
    color: red;

}

.cart-link {
  min-width: auto;
}

.boton-personalizado{
    width: 150%;
  text-decoration:none;
  font-weight:600;
  font-size:20px;
  color:#ffffff;
  padding-top:15px;
  padding-bottom:15px;
  background-color:red;
  border: none;
}
.boton-personalizado:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px black;
  transition: all 0.2s ease;
}


.button-row {
  display: flex;
  justify-content: center;
}

/* MOBILE */
@media (min-width: 361px) {
   
}





/* TABLET */

@media (min-width: 768px) {
    
}

/* DESKTOP */
@media (min-width: 1200px) {

   
}

/* TABLET & MOBILE */
@media (max-width: 800px) {
  .product-detail {
    flex-direction: column;
    padding: 15px;
  }

  .product-detail .product-photos {
    width: 100%;
  }

  .product-detail .product-info {
    width: 100%;
  }
}
