* {

    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0 auto;
}


/* Alert-warning*/
.alert-warning{
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
    list-style: none;
  }

.create-form .fa-solid{
    position: relative;
    right: 18px;
    color: grey;
    /* border: red solid 1px; */
}


.register-control{
    border: none;
    border-radius: 5px;
    width: 60%;
}

.control-pais{
    border: none;
    border-radius: 5px;
}

/* contenedor final */
.control-formulario{
    text-align: center;
}

/* text-danger */
.text-danger{
    color: red;
}

.contenedor-general{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.create-form .fa-solid{
    position: relative;
    right: 18px;
} 

/* password */

.password{
    border: solid black 2px;
}

.Enviar{
    height: 30px;
}
.Borrar{
    height: 30px;
}


 @media (min-width: 767px){
    .create-form .fa-solid:hover {
        color: red;
        transition: all 1000ms;
    } 

     /* button */
     .Enviar:hover{
        background-color: green;
        transition: all 1000ms;
        color: white;
    }
    .Borrar:hover{
        background-color: red;
        transition: all 1000ms;
        color: white;
    }
} 

/* MOBILE */
@media (min-width: 361px) {
    .create-form .fa-solid  {
        padding: 10px 0px;
    }

}


/* TABLET */

@media (min-width: 768px) {

}


/* DESKTOP */
@media (min-width: 1200px) {


}



.create-form{
    padding: 0px 15px;
    margin-top: 20px;
}

.control-formulario{
    margin-bottom: 15px;
    
}

.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.register-control{
    width: 60%;
    padding: 10px;
    color: grey;
}

.boton-formulario{
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10 px;
    border-radius: 5px;
}