<%- include('./partials/head') %>



  <body>
    <%- include('./partials/header') %>



      <div class="wrap">

        <h1 class="titulo">Categorias</h1>
        <div class="store-wrapper">
          <!-- <div class="category_list">
            <a href="#" class="category_item" category="all">Todo</a>
            <a href="#" class="category_item" category="ordenadores">Smartwatch</a>
            <a href="#" class="category_item" category="laptops">Laptops</a>
            <a href="#" class="category_item" category="smartphones">Smartphones</a>
            <a href="#" class="category_item" category="monitores">Monitores</a>
            <a href="#" class="category_item" category="audifonos">Auriculares</a>
          </div> -->
          <section class="products-list">
            
            <div class="product-item" category="auriculares">
              <img src="img/producto2.jpeg" alt="">
              <a href="/productdetail">Auriculares JBL TUNE</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/au2.jpg" alt="">
              <a href="/productdetail">Auriculares JBL TUNE</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/au3.jpg" alt="">
              <a href="/productdetail">Auriculares JBL TUNE</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/au4.jpg" alt="">
              <a href="/productdetail">Auriculares JBL TUNE</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/au5.jpg" alt="">
              <a href="/productdetail">Auriculares JBL TUNE</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/au6.jpg" alt="">
              <a href="/productdetail">Auriculares JBL TUNE</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/au7.jpg" alt="">
              <a href="/productdetail">Auriculares JBL TUNE</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/au8.jpg" alt="">
              <a href="/productdetail">Auriculares JBL TUNE</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            
       

        

        <script src="js/carousel.js"></script>
      </div>
  </body>

  <%- include('./partials/footer') %>




    </html>