<%- include('./partials/head') %>



  <body>
    <%- include('./partials/header') %>


      <div class="container my-5 py-5">

        <!-- Section: Design Block -->
        <section class="mb-10 text-center text-lg-start">
          <style>
            .cascading-right {
              margin-right: -50px;
            }

            @media (max-width: 991.98px) {
              .cascading-right {
                margin-right: 0;
              }
            }
          </style>

          <!-- Jumbotron -->
          <div class="container py-4">
            <div class="row g-0 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
                                                   background: hsla(0, 0%, 100%, 0.55);
                                                   backdrop-filter: blur(30px);
                                                   ">
                  <div class="card-body py-5 px-md-5 shadow-5">
                    <h3 class="fw-bold">Preguntas frecuentes</h3>
                    <h5 class="text-primary mb-5">Haganos saber sus dudas</h5>

                    <p class="fw-bold">POLITICAS DE CAMBIO Y DEVOLUCIONES</p>
                    <p class="text-muted mb-4">
                      Los cambios o devoluciones deberán realizarse en un plazo de hasta diez (10) días
                      hábiles desde que la misma fue recibida siempre y cuando se encuentre en su estado original.
                      Todos los pedidos son personalizados y las telas cortadas según los metros y el articulo que elijas.
                      Por este motivo solo aceptamos cambios o devoluciones en caso de que te llegue un artículo que
                      no sea el que pediste o que alguno de los productos contenga una falla.
                    </p>

                    <p class="fw-bold">COMO GESTIONAR UN CAMBIO/DEVOLUCION</p>
                    <p class="text-muted mb-4">
                      Envianos un mail a ventas@tecnofan.com.ar con el asunto CAMBIO incluyendo tu  NUMERO DE COMPRA y
                      fotos del producto y los motivos del cambio. Tene en cuenta lo siguiente:
                    </p>

                    <p class="fw-bold">
                     <ul>
                      <li>Solo podemos gestionar los cambios o devoluciones por mail.</li>
                      <li>Plazo: el reclamo tiene que ser dentro de los 10 días haber recibido la mercadería.</li>
                      <li>Condición: la mercadería debe estar en las mismas condiciones en las que fue entregada.
                        No podremos realizar cambios de mercadería que ya haya sido cortada, teñida o confeccionada.
                        De lo contrario no podremos gestionar un cambio. Recuerden revisar la mercadería una vez recibida.</li>
                      <li>Los productos de “OFERTA - LIQUIDACION” no tienen cambio ni devolución.</li>
                    </ul>
                    </p>
                    <p class="text-muted mb-0">
                      La gestión de los cambios o devoluciones la hacemos directo a través de la sucursal central, por mensajería o
                      por sucursales de Andreani. En caso que no te puedas acercar a nuestra sucursal a realizar el cambio
                      te enviaremos una etiqueta de Andreani para que lleves el producto a devolver a la sucursal más
                      cercana a tu domicilio. Tu nuevo producto te llegara a la misma sucursal.
                    </p>

                  </div>
                </div>
              </div>

              <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/075.jpg" class="w-100 rounded-5 shadow-4"
                  alt="">
              </div>
            </div>
          </div>
          <!-- Jumbotron -->
        </section>
        <!-- Section: Design Block -->

      </div>

  </body>

  <%- include('./partials/footer') %>




    </html>