<%- include('./partials/head') %>



  <body>
    <%- include('./partials/header') %>
      <div class="container">
        <Section>
          <div id='leaders' class="row text-center wow fadeIn" data-wow-delay="0.4s">
            
            <div class="row">
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/producto1.jpeg" class="img-fluid " /> <br> <br>
                    <a href="smartwatchs">
                      <h5 class="card-title black-text">Smartwatchs</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/producto4.jpeg" class="img-fluid " /> <br> <br>
                    <a href="mouses">
                      <h5 class="card-title black-text">Mouses</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/products-1661723807836.jpg" class="img-fluid " /> <br> <br>
                    <a href="smartphones">
                      <h5 class="card-title black-text">Smartphones</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/producto2.jpeg" class="img-fluid " /> <br> <br>
                    <a href="auriculares">
                      <h5 class="card-title black-text">Auriculares</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/products-1661811120786.jpg" class="img-fluid " /> 
                    <a href="tablets">
                      <h5 class="card-title black-text">Tablets</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/pc_lenovo.jpg" class="img-fluid " /> <br> <br>
                    <a href="/pcs">
                      <h5 class="card-title black-text">PCs</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/monitor_asus.jpg" class="img-fluid " /> <br> <br>
                    <a href="/monitores">
                      <h5 class="card-title black-text">Monitores</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/products-1661814467409.jpg" class="img-fluid " />  <br>
                    <a href="/audifonos">
                      <h5 class="card-title black-text">Audifonos</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </Section>
      </div>


      <div class="wrap pt-5">

        <h1 class="titulo">Categorias</h1>
        <div class="store-wrapper">
          <section class="products-list">
            <div class="product-item" category="smartwatch">
              <img src="img/producto1.jpeg" alt="">
              <a href="/smartwatchs">Smartwatchs</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="mouse">
              <img src="img/producto4.jpeg" alt="">
              <a href="/mouses">Mouses</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="smartphones">
              <img src="img/iphone.jpg" alt="">
              <a href="/smartphones">Smartphones</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/producto2.jpeg" alt="">
              <a href="/auriculares">Auriculares</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="tablets">
              <img src="img/producto3.jpeg" alt="">
              <a href="/tablets">Tablets</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="ordenadores">
              <img src="img/pc_lenovo.jpg" alt="">
              <a href="/pcs">PCs</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="monitores">
              <img src="img/monitor_asus.jpg" alt="">
              <a href="/monitores">Monitores</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/ea1.jpg" alt="">
              <a href="/audifonos">Audifonos</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
          </section>
        </div>





        <h1>Metodos de pago</h1>

        <div class="gallery">
          <div class="gallery-container">

            <img class="gallery-item gallery-item-1" src="img/pagos/ahora12.png" data-index="1">
            <img class="gallery-item gallery-item-2" src="img/pagos/ahora18.png" data-index="2">
            <img class="gallery-item gallery-item-3" src="img/pagos/visa.png" data-index="3">
            <img class="gallery-item gallery-item-4" src="img/pagos/mastercard.jpg" data-index="4">
            <img class="gallery-item gallery-item-5" src="img/pagos/amex.png" data-index="5">

          </div>
          <div class="gallery-controls">
          </div>

        </div>



        <script src="js/carousel.js"></script>





      </div>
  </body>

  <%- include('./partials/footer') %>




    </html>