<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>





  <div class="gallery">
    <div class="gallery-container">
      <img class="gallery-item gallery-item-1" src="img/producto1.jpeg" data-index="1">
      <img class="gallery-item gallery-item-2" src="img/producto2.jpeg" data-index="2">
      <img class="gallery-item gallery-item-3" src="img/producto3.jpeg" data-index="3">
      <img class="gallery-item gallery-item-4" src="img/producto4.jpeg" data-index="4">
      <img class="gallery-item gallery-item-5" src="img/auris1.png" data-index="5">
    </div>
    <div class="gallery-controls">
    </div>

  </div>

  <script src="js/carousel.js"></script>
</body>

<%- include('./partials/footer') %>




</html>