<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Bienvenidxs a Tecnogroup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/4226102d17.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4226102d17.js" crossorigin="anonymous"></script>
</head>


<header class="main-header">
  <div class="main-header-top-bar">
    <div class="logocontainer">
      <img src="img/logo.jpg" alt class="logo">
    </div>

    <form action="/index" class="search">
      <input type="text" placeholder="Buscar productos, marcas..." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>


    <!-- <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de credito
 </h2>  -->
  </div>


  <!-- <a href="#" class="hamburguer-button">
    <i class="fas fa-bars"></i>


  </a> -->

  <nav class="main-navbar">
    <ul class="left-navbar">
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Tiendas Oficiales</a></li>
      <li><a href="#">Vender</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>

    <ul class="right-navbar">
      <li><a href="/register">Creá tu cuenta <i class="far fa-credit-card"></i></a></li>
      <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt	"></i></a></li>
      <li><a href="/productCart">Mis compras <i class="fa fa-shopping-basket"></i></a></li>
    </ul>
  </nav>
</header>

<body>


  <!-- <section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
  </section> -->
  <main>
    <section class="last-visit">
      <h3>Basado en tu última visita</h3>
      <div class="products">
        <article>
          <!-- <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img"> -->
          <a href="/productDetail">
            <div class="main-article">
              <i class="fa-solid fa-cart-shopping"></i>
              <p class="price">PRECIO</p>
              <p class="discount">DESCUENTO</p>
              <h4 class="description">PRODUCTO</h4>
            </div>
          </a>
        </article>
        <article>
          <!-- <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img"> -->
          <a href="/productDetail">
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">PRECIO</p>
              <p class="discount">DESCUENTO</p>
              <h4 class="description">PRODUCTO</h4>
            </div>
          </a>
        </article>
        <article>
          <!-- <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img"> -->
          <a href="/productDetail">
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">PRECIO</p>
              <p class="discount">DESCUENTO</p>
              <h4 class="description">PRODUCTO</h4>
            </div>
          </a>
        </article>
        <article>
          <!-- <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img"> -->
          <a href="/productDetail">
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">PRECIO</p>
              <p class="discount">DESCUENTO</p>
              <h4 class="description">PRODUCTO</h4>
            </div>
        </article></a>
      </div>
    </section>
    <section class="offers">
      <h3>Ofertas</h3>
      <div class="products">
        <article>
          <!-- <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img"> -->
          <a href="/productDetail">
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">PRECIO</p>
              <p class="discount">DESCUENTO</p>
              <h4 class="description">PRODUCTO</h4>
            </div>
          </a>
        </article>
        <article>
          <!-- <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img"> -->
          <a href="/productDetail">
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">PRECIO</p>
              <p class="discount">DESCUENTO</p>
              <h4 class="description">PRODUCTO</h4>
            </div>
          </a>
        </article>
        <article>
          <!-- <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img"> -->
          <a href="/productDetail">
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">PRECIO</p>
              <p class="discount">DESCUENTO</p>
              <h4 class="description">PRODUCTO</h4>
            </div>
          </a>
        </article>
        <article>
          <!-- <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img"> -->
          <a href="/productDetail">
            <div class="main-article">
              <i class="fas fa-truck"></i>
              <p class="price">PRECIO</p>
              <p class="discount">DESCUENTO</p>
              <h4 class="description">PRODUCTO</h4>
            </div>
        </article>
      </div></a>
    </section>
  </main>

</body>

<!-- <div id="footer"> -->
<footer id="footer">

  <div class="card1">
    <!-- <img class="iconos" src="/images/tarj.jpeg"> -->

    <!-- <i class="fa-solid fa-credit-card" </i> -->
    <p><i class="fa-solid fa-credit-card"></i><br>
      <b>Datos de contacto</b>
      <br>
      Contactate con nosotros por cualquier duda, estamos a tu disposición!
    </p>
  </div>
  <br>
  <div class="card2">
    <!-- <img class="iconos" src="/images/free.jpeg"> -->
    <p>
      <i class="fa-solid fa-gift"></i><br>
      <b> Envios a todo el país desde $8.500</b>
      <br>
      Tenemos Tecnofans en todo el pais, de punta a punta, y vos podes ser
    </p>
  </div>
  <br>
  <div class="card3">
    <!-- <img class="iconos" src="/images/seg.jpeg">
         -->
    <p>
      <i class="fa-solid fa-user-shield"></i>
      <br>
      <b>Cómo cuidamos tu información</b>
      <br>
      Conoce nuestras politicas de privacidad y protección del consumidor
    </p>
  </div>
  <br>
  <p class="card4"><b>Copyright © 2022 Tecnogroup S.R.L.</b>
  </p>


</footer>
<!-- </div> -->

</html>