<%- include('./partials/head') %>



  <body>
    <%- include('./partials/header') %>
      <div class="container">
        <Section>
          <div id='leaders' class="row text-center wow fadeIn" data-wow-delay="0.4s">
            
            <div class="row my-5">
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/producto1.jpeg" class="img-fluid " /> <br> <br>
                    <a href="smartwatchs">
                      <h5 class="card-title black-text">Smartwatchs</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/producto4.jpeg" class="img-fluid " /> <br> <br>
                    <a href="mouses">
                      <h5 class="card-title black-text">Mouses</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/products-1661723807836.jpg" class="img-fluid " /> <br> <br>
                    <a href="smartphones">
                      <h5 class="card-title black-text">Smartphones</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/producto2.jpeg" class="img-fluid " /> <br> <br>
                    <a href="auriculares">
                      <h5 class="card-title black-text">Auriculares</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/products-1661811120786.jpg" class="img-fluid " /> 
                    <a href="tablets">
                      <h5 class="card-title black-text">Tablets</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/pc_lenovo.jpg" class="img-fluid " /> <br> <br>
                    <a href="/pcs">
                      <h5 class="card-title black-text">PCs</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/monitor_asus.jpg" class="img-fluid " /> <br> <br>
                    <a href="/monitores">
                      <h5 class="card-title black-text">Monitores</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="img/products-1661814467409.jpg" class="img-fluid " />  <br>
                    <a href="/audifonos">
                      <h5 class="card-title black-text">Audifonos</h5> 
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </Section>
      </div>
  </body>

  <%- include('./partials/footer') %>




    </html>