<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Bienvenidxs a Tecnogroup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/4226102d17.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4226102d17.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/estilos.css">


</head>


<header class="main-header">
  <div class="main-header-top-bar">
    <div class="logocontainer">
      <img src="img/logo.jpg" alt class="logo">
    </div>

    <div class="box">
      <div class="container-1">
          <!-- <span class="icon"><i class="fa fa-search"></i></span> -->
          <input type="search" id="search" placeholder="Search..." />
      </div>
    </div>


    <!-- <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de credito
 </h2>  -->
  </div>


  <!-- <a href="#" class="hamburguer-button">
    <i class="fas fa-bars"></i>


  </a> -->

  <nav class="main-navbar">
    <ul class="left-navbar">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Novedades</a></li>
      <li><a href="#">Lo mas visto</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>

    <ul class="right-navbar">
      <li><a href="/productCart">Carrito <i class="fa fa-shopping-basket"></i></a></li>
      <li><a href="/login">Login <i class="fas fa-sign-in-alt	"></i></a></li>
      <li><a href="/register">Registro <i class="far fa-credit-card"></i></a></li>
    </ul>
  </nav>
</header>

<body>

  <div class="wrap">
    <h1>Ofertas</h1>
    <div class="store-wrapper">
      <div class="category_list">
        <a href="#" class="category_item" category="all">Todo</a>
        <a href="#" class="category_item" category="ordenadores">Smartwatch</a>
        <a href="#" class="category_item" category="laptops">Laptops</a>
        <a href="#" class="category_item" category="smartphones">Smartphones</a>
        <a href="#" class="category_item" category="monitores">Monitores</a>
        <a href="#" class="category_item" category="audifonos">Auriculares</a>
      </div>
      <section class="products-list">
        <div class="product-item" category="smartwatch">
          <img src="img/producto1.jpeg" alt="">
          <a href="/productdetail">Smartwatch Umidigi</a>
          <a href="/productdetail">Precio $xxx</a>
        </div>
        <div href="/productdetail" class="product-item" category="mouse">
          <img src="img/producto4.jpeg" alt="">
          <a href="/productdetail">Mouse Redragon</a>
          <a href="/productdetail">Precio $xxx</a>
        </div>
        <div class="product-item" category="smartphones">
          <img src="img/samsung_galaxy.jpg" alt="">
          <a href="/productdetail">Samsung Galaxy</a>
          <a href="/productdetail">Precio $xxx</a>
        </div>
        <div class="product-item" category="auriculares">
          <img src="img/producto2.jpeg" alt="">
          <a href="/productdetail">Auriculares JBL TUNE</a>
          <a href="/productdetail">Precio $xxx</a>
        </div>
        <div class="product-item" category="tablets">
          <img src="img/producto3.jpeg" alt="">
          <a href="/productdetail">Tablet Lenovo TB-X306F</a>
          <a href="/productdetail">Precio $xxx</a>
        </div>
        <div class="product-item" category="ordenadores">
          <img src="img/pc_lenovo.jpg" alt="">
          <a href="/productdetail">PC Lenovo</a>
          <a href="/productdetail">Precio $xxx</a>
        </div>
        <div class="product-item" category="monitores">
          <img src="img/monitor_asus.jpg" alt="">
          <a href="/productdetail">Monitor Asus</a>
          <a href="/productdetail">Precio $xxx</a>
        </div>
        <div class="product-item" category="auriculares">
          <img src="img/auris1.png" alt="">
          <a href="/productdetail">Audifonos Corsair</a>
          <a href="/productdetail">Precio $xxx</a>
        </div>
      </section>
    </div>
  </div>

</body>

<!-- <div id="footer"> -->
<footer id="footer">

  <div class="card1">
    <!-- <img class="iconos" src="/images/tarj.jpeg"> -->

    <!-- <i class="fa-solid fa-credit-card" </i> -->
    <p><i class="fa-solid fa-map-pin"></i><br>
      <b>Donde nos ubicas</b>
      <br>
      Calle 8 M9 C18, 1102 Buenos Aires
    </p>
  </div>
  <br>
  <div class="card2">
    <!-- <img class="iconos" src="/images/free.jpeg"> -->
    <p>
      <i class="fa-solid fa-headset"></i><br>
      <b>Contactate con nosotros</b>
      <br>
      Las 24 hs
    </p>
  </div>
  <br>
  <div class="card3">
    <!-- <img class="iconos" src="/images/seg.jpeg">
         -->
    <p>
      <i class="fa-solid fa-user-shield"></i>
      <br>
      <b>Cómo cuidamos tu información</b>
      <br>
      Conoce nuestras politicas de privacidad y protección del consumidor
    </p>
  </div>
  <br>
  <p class="card4"><b>Copyright © 2022 Tecnogroup S.R.L.</b>
  </p>


</footer>
<!-- </div> -->

</html>