<%- include('./partials/head') %>



  <body>
    <%- include('./partials/header') %>







      <div class="wrap">

        <h1 class="titulo">Categorias</h1>
        <div class="store-wrapper">
          <section class="products-list">
            <div class="product-item" category="smartwatch">
              <img src="img/producto1.jpeg" alt="">
              <a href="/smartwatchs">Smartwatchs</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="mouse">
              <img src="img/producto4.jpeg" alt="">
              <a href="/mouses">Mouses</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="smartphones">
              <img src="img/iphone.jpg" alt="">
              <a href="/smartphones">Smartphones</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/producto2.jpeg" alt="">
              <a href="/auriculares">Auriculares</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="tablets">
              <img src="img/producto3.jpeg" alt="">
              <a href="/tablets">Tablets</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="ordenadores">
              <img src="img/pc_lenovo.jpg" alt="">
              <a href="/pcs">PCs</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="monitores">
              <img src="img/monitor_asus.jpg" alt="">
              <a href="/monitores">Monitores</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
            <div class="product-item" category="auriculares">
              <img src="img/ea1.jpg" alt="">
              <a href="/audifonos">Audifonos</a>
              <!-- <a href="/productdetail">Precio $xxx</a> -->
            </div>
          </section>
        </div>





        <h1>Ofertas</h1>

        <div class="gallery">
          <div class="gallery-container">

            <img class="gallery-item gallery-item-1" src="img/producto1.jpeg" data-index="1">
            <img class="gallery-item gallery-item-2" src="img/producto2.jpeg" data-index="2">
            <img class="gallery-item gallery-item-3" src="img/producto3.jpeg" data-index="3">
            <img class="gallery-item gallery-item-4" src="img/producto4.jpeg" data-index="4">
            <img class="gallery-item gallery-item-5" src="img/auris1.png" data-index="5">

          </div>
          <div class="gallery-controls">
          </div>

        </div>



        <script src="js/carousel.js"></script>





      </div>
  </body>

  <%- include('./partials/footer') %>




    </html>