<%- include('./partials/head') %>
    <link rel="stylesheet" href="css/login.css">
    </head>

    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="LVG3xZ5p"></script>

        <%- include('./partials/header') %>

            <div class="divclass">

                <form action="/index" method="get">


                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
                        data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>


                    <div class="container">
                        <label for="uname"><b>Usuario o email</b></label>
                        <input type="text" placeholder="Nombre de usuario" name="uname" required>

                        <label for="psw"><b>Contraseña</b></label>
                        <input type="password" placeholder="Contraseña" name="psw" required>

                        <button type="submit">Ingresar</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Recuerdame
                        </label>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancelar</button>
                        <span class="psw"><a href="#">Olvide mi password</a></span>
                    </div>
                </form>

            </div>

            <!-- Button to open the modal login form -->
            <!-- <button onclick="document.getElementById('id01').style.display='block'">Login</button> -->

            <!-- The Modal -->
            <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span> -->

                <!-- Modal Content -->
                <form class="modal-content animate" action="/action_page.php">
                    <div class="imgcontainer">
                        <img src="/img/logo.jpg" alt="Avatar" class="avatar">
                    </div>

                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </form>
            </div>


    </body>
    <%- include('./partials/footer') %>

        </html>