<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/login.css">

    <title>Proyecto - NodeJS</title>

</head>


<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="LVG3xZ5p"></script>

    
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="img/logo.jpg" alt="" class="logo"></a>
            <!-- <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2> -->
        </div>

        <!-- <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a> -->

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/index">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Carrito  <i class="far fa-credit-card"></i></a></li>
                <li><a href="/login">Login <i class="fas fa-sign-in-alt	"></i></a></li>
                <li><a href="/productCart">Registro <i class="fa fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
<div class="divclass">
    <!-- Formulario -->
    <form action="/index" method="get">
        <!-- <div class="imgcontainer">
          <img src="/img/logo.jpg" alt="Avatar" class="avatar">
        </div> -->
      
        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>


        <div class="container">
          <label for="uname"><b>Usuario o email</b></label>
          <input type="text" placeholder="Nombre de usuario" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Password" name="psw" required>
      
          <button type="submit">Ingresar</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancelar</button>
          <span class="psw"><a href="#">Olvide mi password</a></span>
        </div>
      </form>

</div>

    <!-- Button to open the modal login form -->
    <!-- <button onclick="document.getElementById('id01').style.display='block'">Login</button>

    The Modal
    <div id="id01" class="modal"> -->
        <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span> -->

        <!-- Modal Content -->
        <!-- <form class="modal-content animate" action="/action_page.php"> -->
            <!-- <div class="imgcontainer">
                <img src="/img/logo.jpg" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div> -->


</body>

</html>