<%- include('./partials/head') %>



  <body>
    <%- include('./partials/header') %>



      <div class="wrap">

        <h1 class="titulo">Categorias</h1>
        <div class="store-wrapper">
          <!-- <div class="category_list">
            <a href="#" class="category_item" category="all">Todo</a>
            <a href="#" class="category_item" category="ordenadores">Smartwatch</a>
            <a href="#" class="category_item" category="laptops">Laptops</a>
            <a href="#" class="category_item" category="smartphones">Smartphones</a>
            <a href="#" class="category_item" category="monitores">Monitores</a>
            <a href="#" class="category_item" category="audifonos">Auriculares</a>
          </div> -->
          <section class="products-list">
            <div class="product-item" category="monitores">
              <img src="img/mon1.jpg" alt="">
              <a href="/productdetail">Monitor Asus</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="monitores">
              <img src="img/mon2.jpg" alt="">
              <a href="/productdetail">Monitor Asus</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="monitores">
              <img src="img/mon3.jpg" alt="">
              <a href="/productdetail">Monitor Asus</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="monitores">
              <img src="img/mon4.jpg" alt="">
              <a href="/productdetail">Monitor Asus</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="monitores">
              <img src="img/mon5.jpg" alt="">
              <a href="/productdetail">Monitor Asus</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="monitores">
              <img src="img/mon6.jpg" alt="">
              <a href="/productdetail">Monitor Asus</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="monitores">
              <img src="img/mon7.jpg" alt="">
              <a href="/productdetail">Monitor Asus</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div class="product-item" category="monitores">
              <img src="img/mon8.jpg" alt="">
              <a href="/productdetail">Monitor Asus</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>

          </section>
        </div>
        

        <script src="js/carousel.js"></script>
      </div>
  </body>

  <%- include('./partials/footer') %>




    </html>