<%- include('./partials/head') %>



  <body>
    <%- include('./partials/header') %>



      <div class="wrap">

        <h1 class="titulo">Categorias</h1>
        <div class="store-wrapper">
          <!-- <div class="category_list">
            <a href="#" class="category_item" category="all">Todo</a>
            <a href="#" class="category_item" category="ordenadores">Smartwatch</a>
            <a href="#" class="category_item" category="laptops">Laptops</a>
            <a href="#" class="category_item" category="smartphones">Smartphones</a>
            <a href="#" class="category_item" category="monitores">Monitores</a>
            <a href="#" class="category_item" category="audifonos">Auriculares</a>
          </div> -->
          <section class="products-list">

            <div href="/productdetail" class="product-item" category="mouse">
              <img src="img/m1.jpg" alt="">
              <a href="/productdetail">Mouse Redragon</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div href="/productdetail" class="product-item" category="mouse">
              <img src="img/m2.jpg" alt="">
              <a href="/productdetail">Mouse Redragon</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div href="/productdetail" class="product-item" category="mouse">
              <img src="img/m3.jpg" alt="">
              <a href="/productdetail">Mouse Redragon</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div href="/productdetail" class="product-item" category="mouse">
              <img src="img/m4.jpg" alt="">
              <a href="/productdetail">Mouse Redragon</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div href="/productdetail" class="product-item" category="mouse">
              <img src="img/m5.jpg" alt="">
              <a href="/productdetail">Mouse Redragon</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div href="/productdetail" class="product-item" category="mouse">
              <img src="img/m6.jpg" alt="">
              <a href="/productdetail">Mouse Redragon</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div href="/productdetail" class="product-item" category="mouse">
              <img src="img/m7.jpg" alt="">
              <a href="/productdetail">Mouse Redragon</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>
            <div href="/productdetail" class="product-item" category="mouse">
              <img src="img/m8.jpg" alt="">
              <a href="/productdetail">Mouse Redragon</a>
              <a href="/productdetail">Precio $xxx</a>
            </div>

          </section>
        </div>
       

        <script src="js/carousel.js"></script>
      </div>
  </body>

  <%- include('./partials/footer') %>




    </html>