
<%- include('./partials/head') %>
    </head>
    <body>
    <%- include('./partials/header') %>
    <section>
      <h2 style="margin: 15px;">404 - Página no encontrada.</h2>
      <p style="margin: 15px;">La página que busca puede que no exista, haya sido removida, tenga otro nombre o se encuentre temporalmente inaccesible.</p>
    </section>
    
</body>
</html>