<%- include('./partials/head') %>



  <body>
    <%- include('./partials/header') %>


      <!-- Section: Design Block -->
<section class="">

  <!-- Background image -->
  <div class="p-5 text-center bg-image vh-100" style="background-image: url('https://mdbootstrap.com/img/Photos/new-design-blocks/ecommerce/22.jpg');">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.55)">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-10">
            <div class="text-white">
              <h1 class="mb-4 display-3 fw-bold ls-tight">La nueva MacBook Pro 2023</h1>
              <h5 class="mb-5">Superpotenciado con el chip M2</h5>
              <!-- <a class="btn btn-outline-light btn-lg me-2" href="#!" role="button">Learn more<i class="fas fa-angle-right ms-2"></i></a> -->
              <a class="btn btn-outline-light btn-lg" href="#!" role="button">Proximamente: Pre-Venta<i class="fas fa-angle-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

</section>
<!-- Section: Design Block -->


  </body>

  <%- include('./partials/footer') %>




    </html>