<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/productdetail.css">
  <title>Tecnogroup</title>

</head>


<body>
  <!-- HEADER-->
  <header class="main-header">
    <div class="main-header-top-bar">
      <a href="/"><img src="img/logo.jpg" alt="logo" class="logo"></a>
    </div>
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="/index">Volver al Inicio</a></li>
        <li><a href="#">Modo de envio</a></li>
      </ul>
      <ul class="right-navbar">
        <li><a href="/productCart">Carrito de Compras <i class="fa fa-shopping-basket"></i></a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
      </ul>
    </nav>
  </header>
  <!-- FIN DEL HEADER-->

  <!-- -----------------------------------------------PRODUCTO---------------------- -->
  <div class="product-detail">
    <div class="product-photos">
      <div class="primary-photo">

        <img src="img/auris1.png" alt="Auriculares">
      </div>


      <div class="secondary-photos">



        <div class="thumbnail">

          <a><img src="img/auris2.png" alt="Auriculares"></a>
        </div>
        <div class="thumbnail">
          <a> <img src="img/auris3.png" alt="Auriculares"> </a>
        </div>
        <div class="thumbnail">
          <a> <img src="img/auris2.png" alt="Auriculares"> </a>
        </div>
        <div class="thumbnail">
          <a> <img src="img/auris3.png" alt="Auriculares"> </a>
        </div>
      </div>
    </div>

    <div class="product-info">
      <div class="title">
        <p style="font-size: 35px">Auricular Corsair Gamer Virtuoso RGB Wireless SE Espresso</p>
      </div>
      <div class="description">
        <p class="price"> $ 47.995 -una ganga- </p>
        <p>12 cuotas sin interés de $ 3.999,58 (Si, 12 cuotas)</p>
        <p class="discount">10% OFF en una cuota: $43195,50</p>
        <p class="parrafo"> Escucharás el paso ligero hasta el tono de graves más profundo. Un
          par de controladores de neodimio de alta densidad de 50 mm de 20Hz-40,000Hz.
          Las almohadillas de espuma viscoelástica de primera calidad que se adaptan a la forma de su cabeza, junto con
          una diadema liviana, le permite al jugador jugar durante horas y horas.</p>
      </div>
      <br>
      <br>
      <a class="boton-personalizado" href="http://localhost:3002/productCart">Añadir a Carrito</a>
    </div>

  </div>

  <!------------------------------------------------- INICIO FOOTER -------------------->
  <footer id="footer">
    <br>
    <p class="card4"><b>Copyright © 2022 Tecnogroup S.R.L.</b>
    </p>
  </footer>
  <!-- FIN DEL FOOTER -->
</body>


</html>