<%- include('./partials/head') %>
<link rel="stylesheet" href="css/productAdmin.css">
    </head>
<body>
    <header class="main-header">
            <div class="main-header-top-bar">
              <a href="/">
                <div class="logocontainer">
                  <img src="img/logo-admin.jpg" alt class="logo">
                </div>
              </a>
          
              <div class="admin-user">
                <!-- <div class="container-1">
                  <!- <span class="icon"><i class="fa fa-search"></i></span> ->
                  <input type="search" id="search" placeholder="Search..." />
                </div> -->
                <p>AdminUser 
                <i class="fa-solid fa-user"></i>
                <i class="fas fa-sort-down"></i>
                </p>
              </div>
            </div>
          
          
            <nav class="main-navbar">
              <ul class="left-navbar">
                <!-- <button> -->
                  <li><a href="/admin">Productos</a></li>
                <!-- </button> -->
              </ul>
          
              <!-- <ul class="right-navbar">
                <!- <button> ->
                  <li><a href="/login">Admin <i class="fas fa-sign-in-alt	"></i></a></li>
                <!- </button> ->
              </ul> -->
            </nav>
    </header>
    <main class="main-productAd">
      <div class="container">
        <h3>Nuevo Producto</h3>
       <div class="admin-product-form-container">
        
      <form action="/products" method="POST" enctype="multipart/form-data">
        
         <input type="text" placeholder="Nombre de producto" name="name" id="name" class="box">
         <input type="number" placeholder="Precio" name="price" id="price" class="box">
         <input type="number" placeholder="Descuento" name="discount" id="discount" class="box">
                    <select class="box" id="category" name="category">
                      <option selected>Seleccionar Categoría</option>
                      <option value="auriculares">Auriculares</option>
                      <option value="monitores">Monitores</option>
                      <option value="mouses">Mouses</option>
                      <option value="PCs">PCs</option>
                      <option value="audifonos">Audífonos</option>
                      <option value="tablets">Tablets</option>
                      <option value="smartwatches">Smartwatches</option>
                    </select>

      <div class="form-right">
        <input type="text" placeholder="Descripción" name="description" id="description" class="box">
        <input type="text" placeholder="Marca" name="brand" id="brand" class="box">
        <input type="file" accept="image/png, image/jpeg, image/jpg" name="image" id="image" class="box">
        <button type="submit" class="btn">Añadir Producto</button>
      </div>
    </form>

       </div>
   <div class="product-display">
      <table class="product-display-table">
         <thead>
         <tr>
            <th>Producto</th>
            <th class="adminprod-property">Categoría</th>
            <th class="adminprod-property">Marca</th>
            <th class="adminprod-property">Precio</th>
            <th>Acción</th>
         </tr>
         </thead>
         <tr>
            <td ></td>
            <td class="adminprod-property"></td>
            <td class="adminprod-property"></td>
            <td class="adminprod-property"></td>
            <td class="action">
               <a href="#" class="btn-edit"> <i class="fas fa-edit"></i> <span class="btn-text">Editar</span> </a>
               <a href="#" class="btn-edit"> <i class="fas fa-trash"></i> <span class="btn-text">Borrar</span></a>
            </td>
         </tr>
      </table>
   </div>

      </div>
  </main>    
</body>
</html>