<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/productdetail.css">
  <title>Tecnogroup</title>

</head>


<body>
  <!-- HEADER-->
  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="img/logo.jpg" alt="logo" class="logo">
    </div>
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="/index">Volver al Inicio</a></li>
        <li><a href="#">Modo de envio</a></li>
      </ul>
      <ul class="right-navbar">
        <li><a href="/productCart">Carrito de Compras <i class="fa fa-shopping-basket"></i></a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
      </ul>
    </nav>
  </header>
  <!-- FIN DEL HEADER-->

  <!-- -----------------------------------------------PRODUCTO---------------------- -->
  <div class="product-detail">
    <div class="product-photos">
      <div class="primary-photo">
        <img src="img/auris1.png" alt="Auriculares">
      </div>
      <div class="secondary-photos">
        <div class="thumbnail">
          <img src="img/auris2.png" alt="Auriculares">
        </div>
        <div class="thumbnail">
          <img src="img/auris3.png" alt="Auriculares">
        </div>
        <div class="thumbnail">
          <img src="img/auris2.png" alt="Auriculares">
        </div>
        <div class="thumbnail">
          <img src="img/auris3.png" alt="Auriculares">
        </div>
      </div>
    </div>
    <div class="product-info">
      <div class="title">
        Product Title
      </div>
      <div class="description">
        Product description
      </div>
    </div>
  </div>

  <!------------------------------------------------- INICIO FOOTER -------------------->
  <footer id="footer">
    <br>
    <p class="card4"><b>Copyright © 2022 Tecnogroup S.R.L.</b>
    </p>
  </footer>
  <!-- FIN DEL FOOTER -->
</body>


</html>