<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
     <!--Carrito-->
     <section>
        <div class="cart">
            <div class="cart-titles">
                <div>
                    <h1><i class="fa fa-shopping-cart"></i> MI CARRITO DE COMPRAS</h1>
                </div>
                <!-- div class="cart-categories">
                    <h3>PRODUCTO</h3>
                    <h3>CANTIDAD</h3>
                    <h3>PRECIO UNITARIO</h3>
                    <h3>SUBTOTAL</h3>
                    <h3></h3>
                </div> -->
            </div>
            
            <div class="cart-buy">
                <div class="products">
                    <div class="box">
                        <img src="img/producto1.jpeg" alt="Smatwatch Umidigi Urun Gps 02" class="product-img">
                        <div class="content">
                            <h3>Smartwatch Umidigi</h3>
                            <h4>Precio Unitario: $9,000.00</h4>
                            <div class="cart-subtotal">
                                <h4>Subtotal: $-</h4>
                            </div>
                            <p class="cart-unit">Cantidad: <input type="number" value="1"></p>
                            <p class="cart-unit-mob"><input type="number" value="1"></p>
                            <p class="cart-trash">
                                <i class="fa fa-trash"></i>
                                <span class="cart-remove">Quitar</span>
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/producto2.jpeg" alt="AURICULARES JBL TUNE T510 BT" class="product-img">
                        <div class="content">
                            <h3>Auriculares JBL TUNE T510 BT</h3>
                            <h4>Precio Unitario: $6,590.00</h4>
                            <div class="cart-subtotal">
                                <h4 class="">Subtotal: $-</h4>
                            </div>
                            <p class="cart-unit">Cantidad: <input type="number" value="3"></p>
                            <p class="cart-unit-mob"><input type="number" value="3"></p>
                            <p class="cart-trash">
                                <i class="fa fa-trash"></i>
                                <span class="cart-remove">Quitar</span>
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/producto3.jpeg" alt="TABLET LENOVO TB-X306F 10.1' 64 GB GRIS" class="product-img">
                        <div class="content">
                            <h3>Tablet Lenovo TB-X306F 10.1' 64 GB GRIS</h3>
                            <h4>Precio Unitario: $32,000.00</h4>
                            <div class="cart-subtotal">
                                <h4>Subtotal: $-</h4>
                            </div>
                            <p class="cart-unit">Cantidad: <input type="number" value="1"></p>
                            <p class="cart-unit-mob"><input type="number" value="1"></p>
                            <p class="cart-trash">
                                <i class="fa fa-trash"></i>
                                <span class="cart-remove">Quitar</span>
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/producto4.jpeg" alt="Mouse Gamer Redragon DAGGER2 M715RGB" class="product-img">
                        <div class="content">
                            <h3>Mouse Redragon DAGGER2 M715RGB</h3>
                            <h4>Precio Unitario: $3,799.00</h4>
                            <div class="cart-subtotal">
                                <h4>Subtotal: $-</h4>
                            </div>
                            <p class="cart-unit">Cantidad: <input type="number" value="2"></p>
                            <p class="cart-unit-mob"><input type="number" value="2"></p>
                            <p class="cart-trash">
                                <i class="fa fa-trash"></i>
                                <span class="cart-remove">Quitar</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="cart-resume">
                    <div>
                    <button class="cart-ship-button"><i class="fas fa-truck"></i>  AÑADIR ENVÍO</button>
                    </div>
                    <h3>DETALLE COMPRAS</h3>
                    <div class="cart-total">
                        <h4>PRODUCTOS</h4>
                        <h4>$VALOR</h4>
                    </div>
                    <div class="cart-ship">
                        <h4>ENVÍO</h4>
                        <h4>$VALOR</h4>
                    </div>
                    <div class="cart-ship-total">
                        <h2>TOTAL</h2>
                        <h2>$VALOR</h2>
                    </div>
                    <div class="cart-final-buttons">
                        <button><i class="fa fa-shopping-cart"></i> COMPRAR</button><br>
                        <button><a href="/"><i class="fa fa-arrow-circle-left"></i> VER MÁS</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer') %>
    
</body>

</html>