<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

  <!-- -----------------------------------------------PRODUCTO---------------------- -->
  <div class="product-detail">
    <div class="product-photos">
      <div class="primary-photo">

        <img src="img/auris1.png" alt="Auriculares">
      </div>


      <div class="secondary-photos">



        <div class="thumbnail">

          <a><img src="img/auris2.png" alt="Auriculares"></a>
        </div>
        <div class="thumbnail">
          <a> <img src="img/auris3.png" alt="Auriculares"> </a>
        </div>
        <div class="thumbnail">
          <a> <img src="img/auris2.png" alt="Auriculares"> </a>
        </div>
        <div class="thumbnail">
          <a> <img src="img/auris3.png" alt="Auriculares"> </a>
        </div>
      </div>
    </div>

    <div class="product-info">
      <div class="title">
        <p style="font-size: 35px">Auricular Corsair Gamer Virtuoso RGB Wireless SE Espresso</p>
      </div>
      <div class="description">
        <p class="price"> $ 47.995 -una ganga- </p>
        <p>12 cuotas sin interés de $ 3.999,58 (Si, 12 cuotas)</p>
        <p class="discount">10% OFF en una cuota: $43195,50</p>
        <p class="parrafo"> Escucharás el paso ligero hasta el tono de graves más profundo. Un
          par de controladores de neodimio de alta densidad de 50 mm de 20Hz-40,000Hz.
          Las almohadillas de espuma viscoelástica de primera calidad que se adaptan a la forma de su cabeza, junto con
          una diadema liviana, le permite al jugador jugar durante horas y horas.</p>
      </div>
      <br>
      <br>
      <div class="button-row">
        <a class="cart-link" href="/productCart">
          <button class="boton-personalizado">
            Añadir a Carrito
          </button>
        </a>
      </div>
    </div>

  </div>

  <%- include('./partials/footer') %>
</body>


</html>