<%- include('./partials/head') %>

  <!-- <link rel="stylesheet" href="css/quienessomos.css"> -->



  <body>
    <%- include('./partials/header') %>



<!-- Container for demo purpose -->
<div class="container my-5 py-5 shadow-5">

  <!--Section: Design Block-->
  <section class="text-center">

    <h3 class="mb-5">Our Programming Team</h3>
    
    <p class="mb-5 mx-auto w-responsive">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
      nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
      quia cumque consequatur perferendis hic.
    </p>

    <div class="row">
      <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
        <img class="rounded shadow-1-strong mb-4"
          src="/img/dani.jpeg" alt="avatar" style="width: 150px;" />
        <h5 class="mb-3">Dani</h5>
        <p>React specialist</p>
        <ul class="list-unstyled mb-0">
          <a href="#!" class="px-1">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#!" class="px-1">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="#!" class="px-1">
            <i class="fab fa-instagram"></i>
          </a>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
        <img class="rounded shadow-1-strong mb-4"
          src="/img/esti.jpg" alt="avatar" style="width: 150px;" />
        <h5 class="mb-3">Esteban</h5>
        <p>Backend Programer</p>
        <ul class="list-unstyled mb-0">
          <a href="#!" class="px-1">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#!" class="px-1">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#!" class="px-1">
            <i class="fab fa-youtube"></i>
          </a>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-0">
        <img class="rounded shadow-1-strong mb-4"
          src="/img/lu.jpeg" alt="avatar" style="width: 150px;" />
        <h5 class="mb-3">Luciana</h5>
        <p>Customs Lawyer</p>
        <ul class="list-unstyled mb-0">
          <a href="#!" class="px-1">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#!" class="px-1">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#!" class="px-1">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-0">
        <img class="rounded shadow-1-strong mb-4"
          src="/img/lucho.jpeg" alt="avatar" style="width: 150px;" />
        <h5 class="mb-3">El Lucho</h5>
        <p>El mas capo (?) </p>
        <ul class="list-unstyled mb-0">
          <a href="#!" class="px-1">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#!" class="px-1">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#!" class="px-1">
            <i class="fab fa-facebook-f"></i>
          </a>
        </ul>
      </div>
    </div>

  </section>
  <!--Section: Design Block-->

</div>
<!-- Container for demo purpose -->







  </body>

  <%- include('./partials/footer') %>




    </html>