<%- include('./partials/head') %>
<link rel="stylesheet" href="css/register.css">
    </head>
<body>
    <%- include('./partials/header') %>


    <!-- Formulario -->
    <div class="contenedor-general">
    <div class="estilo-form">
    <form action="/index" method="get" class="create-form">
        <div class="control-formulario">
            <input type="text" name="name" placeholder="Nombre y Apellido" class="control" ><i class="fa-solid fa-user"></i>
        </div>
        <div class="control-formulario">
            <input type="text" name="user" placeholder="Nombre de usuario" class="control"><i class="fa-solid fa-user"></i>
        </div>
        <div class="control-formulario">
            <input type="email" name="email" placeholder="E-mail" class="control"><i class="fa-solid fa-envelope"></i>
        </div>

       
        <!-- <div class="control-formulario"> -->
     <!--    <div class="fecha-de-nacimiento">    
        <label for="birth_date" aria-placeholder="Fecha de nacimiento"><h4>Fecha de nacimiento :</h4> </label>
        </div> -->

        <!-- <div class="control-formulario">
        <input type="date" name="birth_date" id="birth_date" class="control" placeholder= "Fecha de nacimiento" >
        </div> -->

        <div class="control-formulario">
        <input type="text" name="addres" placeholder="Domicilio" class="control"><i class="fa-solid fa-map-location-dot"></i>
        </div>
        
        <div class="control-formulario">
        <input type="tel" name="telefono" placeholder="Teléfono" id="Teléfono"class="control"><i class="fa-solid fa-mobile-screen"></i>
        </div>

        <div class="control-formulario">
        <p>Fecha de nacimiento :</p>  
        <input type="date" name="birth_date" id="birth_date" class="control" placeholder= "Fecha de nacimiento" >
        </div>

    </div>
        <!-- <h4>Perfil del usuario</h4>
        <div class="profile">
            <input type="radio" name="profile" value="buy" id="buy">
            <label for="buy">Comprador</label>
            <input type="radio" name="profile" value="sell" id="sell">
            <label for="sell">Vendedor</label>
        </div> -->

        <h4>Intereses :</h4>
        <div class="interests">
            <div>
                <input type="checkbox" name="interests" value="a" id="a" class="interes-diseño">
                <label for="a">Gaming</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="b" id="b"class="interes-diseño">
                <label for="b">Celulares</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="c" id="c"class="interes-diseño">
                <label for="c">Computadoras</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="d" id="d"class="interes-diseño">
                <label for="d">Auriculares</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="e" id="e"class="interes-diseño">
                <label for="e">Relojes smartwatch</label>
            </div>
        </div>

        <h4>Elegí tu foto de usuario :</h4>
        <input type="file" name="avatar">
        <br>
        <br>
        <input type="password" name="pass" placeholder="Elegí tu contraseña" class="password">
        <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" class="password">
        <br>
        <br>
        <button type="submit" value="Enviar" class="Enviar">Enviar</button> 
        <button type="reset" value="Borrar" class="Borrar">Borrar</button>
        <br>
        <br>
    </form>
</div>
<%- include('./partials/footer') %>
      <!-- </div> --

</body>

</html>