<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4226102d17.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/register.css">


    <title>Tecnogroup</title>

</head>


<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="img/logo.jpg" alt="" class="logo"></a>

            <!-- <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2> -->
        </div>
        

        <!-- <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a> -->

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/index">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Carrito  <i class="far fa-credit-card"></i></a></li>
                <li><a href="/login">Login <i class="fas fa-sign-in-alt	"></i></a></li>
                <li><a href="/productCart">Registro <i class="fa fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>


    <!-- Formulario -->
    <div class="contenedor-general">
    <form action="/index" method="get" class="create-form">
        <div class="control-formulario">
            <input type="text" name="name" placeholder="Nombre y Apellido" class="control" ><i class="fa-solid fa-user"></i>
        </div>
        <div class="control-formulario">
            <input type="text" name="user" placeholder="Nombre de usuario" class="control"><i class="fa-solid fa-user"></i>
        </div>
        <div class="control-formulario">
            <input type="email" name="email" placeholder="E-mail" class="control"><i class="fa-solid fa-envelope"></i>
        </div>

       
        <div class="control-formulario">
        <div class="fecha-de-nacimiento">    
        <label for="birth_date" aria-placeholder="Fecha de nacimiento"><h4>Fecha de nacimiento :</h4> </label>
        </div>

        <div class="control-formulario">
        <input type="date" name="birth_date" id="birth_date" class="control">
        </div>

        <div class="control-formulario">
        <input type="text" name="addres" placeholder="Domicilio" class="control"><i class="fa-solid fa-map-location-dot"></i>
        </div>
        
        <div class="control-formulario">
        <input type="tel" name="telefono" placeholder="Telefono" class="control"><i class="fa-solid fa-mobile-screen"></i>
        </div>
        <!-- <h4>Perfil del usuario</h4>
        <div class="profile">
            <input type="radio" name="profile" value="buy" id="buy">
            <label for="buy">Comprador</label>
            <input type="radio" name="profile" value="sell" id="sell">
            <label for="sell">Vendedor</label>
        </div> -->

        <h4>Intereses :</h4>
        <div class="interests">
            <div>
                <input type="checkbox" name="interests" value="a" id="a" class="interes-diseño">
                <label for="a">Gaming</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="b" id="b"class="interes-diseño">
                <label for="b">Celulares</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="c" id="c"class="interes-diseño">
                <label for="c">Computadoras</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="d" id="d"class="interes-diseño">
                <label for="d">Auriculares</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="e" id="e"class="interes-diseño">
                <label for="e">Relojes smartwatch</label>
            </div>
        </div>

        <h4>Elegí tu foto de usuario :</h4>
        <input type="file" name="avatar">
        <br>
        <br>
        <input type="password" name="pass" placeholder="Elegí tu contraseña" class="password">
        <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" class="password">
        <br>
        <br>
        <button type="submit" value="Enviar" class="Enviar">Enviar</button> 
        <button type="reset" value="Borrar" class="Borrar">Borrar</button>
        <br>
        <br>
    </form>
</div>
<footer id="footer">

    <div class="card1">
      <!-- <img class="iconos" src="/images/tarj.jpeg"> -->
  
      <!-- <i class="fa-solid fa-credit-card" </i> -->
      <p><i class="fa-solid fa-map-pin"></i><br>
        <b>Donde nos ubicas</b>
        <br>
        Calle 8 M9 C18, 1102 Buenos Aires
      </p>
    </div>
    <br>
    <div class="card2">
      <!-- <img class="iconos" src="/images/free.jpeg"> -->
      <p>
        <i class="fa-solid fa-headset"></i><br>
        <b>Contactate con nosotros</b>
        <br>
        Las 24 hs
      </p>
    </div>
    <br>
    <div class="card3">
      <!-- <img class="iconos" src="/images/seg.jpeg">
           -->
      <p>
        <i class="fa-solid fa-user-shield"></i>
        <br>
        <b>Cómo cuidamos tu información</b>
        <br>
        Conoce nuestras politicas de privacidad y protección del consumidor
      </p>
    </div>
    <br>
    <p class="card4"><b>Copyright © 2022 Tecnogroup S.R.L.</b>
    </p>
  
  
  </footer>
      <!-- </div> --

</body>

</html>