<link rel="stylesheet" href="css/footer.css">

<footer id="footer">

    <div class="card1">
  
      <p><i class="fa-solid fa-map-pin"></i><br>
        <b>Donde nos ubicas</b>
        <br>
        Calle 8 M9 C18, 1102 Buenos Aires
      </p>
    </div>
    <br>
    <div class="card2">
  
      <p>
        <i class="fa-solid fa-headset"></i><br>
        <b>Contactate con nosotros</b>
        <br>
        Las 24 hs
      </p>
    </div>
    <br>
    <div class="card3">
  
  
      <p>
        <i class="fa-solid fa-user-shield"></i>
        <br>
        <b>Cómo cuidamos tu información</b>
        <br>
        Conoce nuestras politicas de privacidad y protección del consumidor
      </p>
    </div>
    <br>
    <p class="card4"><b>Copyright © 2022 Tecnogroup S.R.L.</b>
    </p>
  
  
  </footer>