<header class="main-header">
    <div class="main-header-top-bar">
      <a href="/">
        <div class="logocontainer">
          <img src="img/logo.jpg" alt class="logo">
        </div>
      </a>
  
      <div class="box">
        <div class="container-1">
          <!-- <span class="icon"><i class="fa fa-search"></i></span> -->
          <input type="search" id="search" placeholder="Search..." />
        </div>
      </div>
  
  
      <!-- <h2 class="copy-header">
              <i class="fas fa-hand-holding-usd"></i>
              Compra en cuotas y sin tarjeta de credito
   </h2>  -->
    </div>
  
  
    <!-- <a href="#" class="hamburguer-button">
      <i class="fas fa-bars"></i>
  
  
    </a> -->
  
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Novedades</a></li>
        <li><a href="/productDetail">Product Detail</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
  
      <ul class="right-navbar">
        <li><a href="/productCart">Carrito <i class="fa fa-shopping-basket"></i></a></li>
        <li><a href="/login">Login <i class="fas fa-sign-in-alt	"></i></a></li>
        <li><a href="/register">Registro <i class="far fa-credit-card"></i></a></li>
      </ul>
    </nav>
  </header>