<link rel="stylesheet" href="css/header.css">
<!-- <link rel="stylesheet" href="css/login.css"> -->

<header class="main-header">
  <div class="main-header-top-bar">
    <a href="/">
      <div class="logocontainer">
        <img src="/img/logo-admin.jpg" alt class="logo">
      </div>
    </a>

    <div>
      <div class="container-1">
        <!-- <span class="icon"><i class="fa fa-search"></i></span> -->
        <input type="search" id="search" placeholder="Search..." />
      </div>
    </div>
  </div>


  <nav class="main-navbar">
    <ul class="left-navbar">
      <!-- <button> -->
        <li><a href="/">Inicio</a></li>
      <!-- </button> -->
      <!-- <button> -->
        <li><a href="#">Novedades</a></li>
      <!-- </button> -->
      <!-- <button> -->
        <li class="dsnone"><a href="/quienessomos">¿Quienes somos?</a></li>
      <!-- </button> -->
      <!-- <button> -->
        <li><a href="#">Ayuda</a></li>
      <!-- </button> -->
      <li><a href="/administrar">Administrar</a></li>
    </ul>

    <ul class="right-navbar">
      <!-- <button> -->
        <li><a href="/productCart">Carrito <i class="fa fa-shopping-basket"></i></a></li>
      <!-- </button> -->
      <!-- <button onclick="document.getElementById('id01').style.display='block'">
        <li>Login <i class="fas fa-sign-in-alt	"></i></li>
      <!-</button> -->
      <!-- <button> -->
        <li><a href="/login">Login <i class="fas fa-sign-in-alt	"></i></a></li>
      <!-- </button> -->
      <!-- <button> -->
        <li><a href="/register">Registro <i class="far fa-credit-card"></i></a></li>
      <!-- </button> -->
    </ul>
  </nav>





</header>